USE [master]
GO
/****** Object:  Database [AWLike]    Script Date: 28-02-18 16:41:35 ******/
CREATE DATABASE [AWLike]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AWLike', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AWLike.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AWLike_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AWLike_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AWLike].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AWLike]
GO
USE [AWLike]
GO
/****** Object:  User [AWLike]    Script Date: 28-02-18 16:41:36 ******/
CREATE USER [AWLike] FOR LOGIN [AWLike] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [AWLike]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 28-02-18 16:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[MapID] [int] NOT NULL,
	[UserTurnNumb] [int] NOT NULL,
	[InGame] [bit] NOT NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rel_User_Game]    Script Date: 28-02-18 16:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rel_User_Game](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ref_User] [int] NOT NULL,
	[Ref_Game] [int] NOT NULL,
	[Ref_TurnPosition] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 28-02-18 16:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](75) NOT NULL,
	[Password] [nchar](64) NOT NULL,
	[Email] [nvarchar](75) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rel_User_Game]    Script Date: 28-02-18 16:41:36 ******/
CREATE NONCLUSTERED INDEX [IX_Rel_User_Game] ON [dbo].[Rel_User_Game]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_UserTurnNumb]  DEFAULT ((0)) FOR [UserTurnNumb]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_InGame]  DEFAULT ((0)) FOR [InGame]
GO
ALTER TABLE [dbo].[Rel_User_Game]  WITH CHECK ADD FOREIGN KEY([Ref_Game])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[Rel_User_Game]  WITH CHECK ADD FOREIGN KEY([Ref_User])
REFERENCES [dbo].[User] ([Id])
GO
USE [master]
GO
